{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit</title>
  <link rel="stylesheet" href="{% static 'style.css' %}"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <form method="POST" class="post-form" action = '/update/{{inventory.Iid}}'>
    {% csrf_token %}
    <div class="container">
      <br>
      <h2>Inventory Information: </h2><br>
      <div class="from-group row">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
          <h3>Update Details:</h3>
        </div>
      </div>

      <div class="from-group row">
        <label class="col-sm-2 col-form-label">Inventory Id:</label>
        <div class="col-sm-4">
          <input type="text" name="Iid" id="id_Iid"  value="{{ inventory.Iid }}"/>
        </div>
      </div>

      <div class="from-group row">
        <label class="col-sm-2 col-form-label">Inventory Name:</label>
        <div class="col-sm-4">
          <input type="text" name="Iname" id="id_Iname" required maxlength="100" value="{{ inventory.Iname }}"/>
        </div>
      </div>

      <div class="from-group row">
        <label class="col-sm-2 col-form-label">Inventory Price:</label>
        <div class="col-sm-4">
          <input type="text" name="Iprice" id="id_Iprice" required maxlength="254" value="{{ inventory.Iprice }}"/>
        </div>
      </div>

      <div class="from-group row">
        <label class="col-sm-2 col-form-label">Inventory Quantity:</label>
        <div class="col-sm-4">
          <input type="text" name="Iquantity" id="id_Iquantity" required maxlength="20" value="{{ inventory.Iquantity }}"/>

        </div>
      </div>

      <div class="form-group row">  
        <label class="col-sm-3 col-form-label"></label>  
        <div class="col-sm-4">  
          <button type="submit" class="btn btn-success">Update</button>  
        </div>  
      </div>

    </div>
  </form>
</body>
</html>